{% extends 'base.html.twig' %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Política de privacidad</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="{{ path('inicio') }}">Inicio</a></li>
                <li class="active">Política de privacidad</li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container content">
        <div class="row-fluid privacy">
            <p class="lead"><em>Declaración de Política de Privacidad de Gx-Estudio.com</em></p>

            <p>Declaro haber leído previamente la "POLÍTICA DE PROTECCIÓN DE DATOS PERSONALES de Gx-Estudio.com", publicada en la U.R.L.: http://gx-estudio.com/politica-de-privacidad, y acepto plenamente y sin reservas, al enviar los datos requeridos desde el sitio Gx-Estudio.com, que los datos de carácter personal que fueran proporcionados en ocasión de registrarme mediante formulario web desde el sitio Gx-Estudio.com como CLIENTE REGISTRADO con el fin de poder así contratar los servicios publicados en la U.R.L: Gx-Estudio.com serán incorporados a un fichero automatizado y tratados en la forma indicada en esta " POLÍTICA DE PROTECCIÓN DE DATOS de PERSONALES de Gx-Estudio.com".</p>
            <p>El titular de los datos personales tiene la facultad de ejercer el derecho de acceso a los mismos en forma gratuita a intervalos no inferiores a seis meses, salvo que se acredite un interés legítimo al efecto conforme lo establecido en el artículo 14, inciso 3 de la Ley Nº 25.326</p>
            <p>DIRECCION NACIONAL DE PROTECCION DE DATOS PERSONALES, Organo de Control de la Ley Nº 25.326, tiene la atribución de atender las denuncias y reclamos que se interpongan con relación al incumplimiento de las normas sobre protección de datos personales.</p>
            <p>La presente POLÍTICA DE PROTECCIÓN DE DATOS PERSONALES implementada por Gx-Estudio.com, cumple los requerimiento exigidos por la LEY 25.326 sobre "LEY DE PROTECCIÓN DE DATOS PERSONALES" que se encuentra vigente en la Republica Argentina, desde la fecha B.O.2/11/2000, siendo su objeto proteger los datos personales de los titulares, tanto de las personas físicas argentinas o extranjeras y como las persona jurídica argentinas o extranjeras con domicilio legal, delegación o sucursal en argentina, que se recopilan y/o archivan y/o registran en Bases de Datos Públicas o Privadas destinadas a proveer informes, como ser la denominada "BASES DE DATOS de CLIENTES REGISTRADOS de Gx-Estudio.com", en consecuencia de ello esta POLÍTICA se consideran como parte integrante y complementarias a modo de anexo, de los Términos y Condiciones Generales publicados en el gx-estudio.COM bajo el link Legales (U.R.L.: http://gx-estudio.com/politica-de-privacidad ).</p>
            <p>Conforme al ART.6° LEY 25326 "Cuando se recaben datos personales se deberá informar previamente a sus titulares en forma expresa y clara:</p>
            <ul>
                <li>a) La finalidad para la que serán tratados y quiénes pueden ser sus destinatarios o clase de destinatarios;</li>
                <li>b) La existencia del archivo, registro, banco de datos, electrónico o de cualquier otro tipo, de que se trate y la identidad y domicilio de su responsable;</li>
                <li>c) El carácter obligatorio o facultativo de las respuestas al cuestionario que se le proponga, en especial en cuanto a los datos referidos en el artículo siguiente;</li>
                <li>d) Las consecuencias de proporcionar los datos, de la negativa a hacerlo o de la inexactitud de los mismos;</li>
                <li>e) La posibilidad del interesado de ejercer los derechos de acceso, rectificación y supresión de los datos.</li>
            </ul>

            <h4>VOCABULARIO:</h4>
            <p>A los fines de comprender en esta POLÍTICA, se aclara quienes son los sujetos de la misma:</p>
            <p>- VISITANTE: es aquella persona que accede por internet al sitio gx-estudio.com con el fin de informarse de los servicios y costos prestados por el sitio gx-estudio.com, como ser: 1) los Planes o Cuentas de Alojamiento y/o Hosting de Sitios Web, 2) Registros de Dominios 3) Los servicios afines que un futuro se ofrezcan y publiquen en la web para los visitantes, este sujeto no se encuentra registrado como Cliente, por ende no puede acceder a las secciones restringidas del sitio para CLIENTES REGISTRADOS, ni contratar ningún servicio ofrecido y publicado en el sitio Gx-Estudio.com. (Que en adelante en la presente POLÍTICA se denominará "VISITANTE")</p>
            <p>- CLIENTES REGISTRADOS: es aquella persona (persona física argentina o extrajeras y/o personas jurídicas argentinas o extrajeras) que se encuentra previamente registrada en el sitio Gx-Estudio.com desde un formulario web respectivo, donde se solicita al VISITANTE completar los DATOS PERSONALES SIGUIENTE:APELLIDO Y NOMBRE, DOMICILIO, TELÉFONO, E-MAIL, LOCALIDAD (CP, CIUDAD, PROVINCIA), FECHA DE NACIMIENTO, y CONTRASEÑA, con el fin de poder así contratar los servicios prestados por el sitio Gx-Estudio.com, como ser: 1) los Planes o Cuentas de Alojamiento y/o Hosting de Sitios Web, 2) Registros de Dominios 3) Los servicios afines que un futuro se ofrezcan y/o publiquen en la web gx-estudio.com para los visitantes que sean CLIENTES REGISTRADOS, y tramitar técnicamente vía web dichas ALTA Y BAJAS de los SERVICIOS mencionados ut surpa desde la sección restringida de gx-estudio.com como CLIENTE REGISTRADO, garantizándose así la confidencialidad de la administración de los servicios siguientes: 1) los Planes o Cuentas de Alojamiento y/o Hosting de Sitios Web, 2) Registros de Dominios 3) los servicios afines que un futuro se ofrezcan y publiquen en la web gx-estudio.com para los visitantes que sean CLIENTES REGISTRADOS. Dichos datos personales se guardan en la "BASES DE DATOS de CLIENTES REGISTRADOS de gx-estudio.com" (Que en adelante en la presente POLÍTICA se denominará "CLIENTES REGISTRADOS").</p>
            <p>- La empresa denominada "GX-ESTUDIO.COM", es la RESPONSABLE y TITULAR de la recopilación de la "BASES DE DATOS de CLIENTES REGISTRADOS de Gx-Estudio.com" y es la empresa que ofrece los servicios siguientes: 1) Planes o Cuentas de Alojamiento y/o Hosting de Sitios Web, 2) Registros de Dominios 3)Los servicios afines que un futuro se ofrezcan y publiquen en la web gx-estudio.com para los visitantes que sean CLIENTES REGISTRADOS. (Que en adelante en el presente POLÍTICA se denominará "LA EMPRESA").</p>

            <h4>CONSIDERACIONES PREVIAS:</h4>
            <p>La presente POLÍTICA que implementa LA EMPRESA a los fines de informar de cómo serán los términos de dicha POLÍTICA que regirá entre las partes, es decir entre el CLIENTE REGISTRADO y LA EMPRESA, al recopilarse los datos personales requeridos en el formulario web del sitio gx-estudio.com, con el fin de individualizar al sujeto cliente y poder así contratar los servicios prestados por el sitio gx-estudio.com, como ser: 1) los Planes o Cuentas de Alojamiento y/o Hosting de Sitios Web, 2) Registros de Dominios 3) los servicios afines que un futuro se ofrezcan y publiquen en la web gx-estudio.com para los visitantes que sean CLIENTES REGISTRADOS.</p>
            <p>A continuación se detalla los términos vigentes de esta POLÍTICA, que rigen a partir del 1 de Abril del 2006 y que se publican en la siguiente U.R.L.: http://gx-estudio.com/politica-de-privacidad</p>

            <h4>TÉRMINOS GENERALES:</h4>
            <h4>- DATOS PERSONALES REQUERIDOS VIA FORMULARIO WEB desde Gx-Estudio.com que son OBLIGATORIOS y el FIN de dicha RECOPILACIÓN por la EMPRESA que registra los mismos en la "BASES DE DATOS de CLIENTES REGISTRADOS de Gx-Estudio.com":</h4>
            <p>Mediante este aviso, LA EMPRESA informa a los VISITANTES que desean contratar los servicio ofrecidos y publicados en la web Gx-Estudio.com, acerca de esta "POLÍTICA DE PRIVACIDAD DE DATOS PERSONALES" (en adelante, "LA POLÍTICA DE PRIVACIDAD") para que los VISITANTES que quieran ser CLIENTES REGISTRADOS determinen libre y voluntariamente su consentimiento expreso, facilitando el VISITANTE a LA EMPRESA los DATOS PERSONALES requeridos mediante el formulario web desde el sitio Gx-Estudio.com, debiendo completar los siguientes datos obligatorios como ser: APELLIDO Y NOMBRE, DOMICILIO, TELÉFONO, E-MAIL, LOCALIDAD (CP, CIUDAD, PROVINCIA), FECHA DE NACIMIENTO, CONTRASEÑA Y REPETECIÓN DE PASSWORD, para poder así darse alta el VISITANTE como CLIENTE REGISTRADO y quedar así individualizado el cliente pudiendo acceder mediante USUARIO Y CONTRASEÑA a la sección restringida de Gx-Estudio.com como CLIENTE REGISTRADO con el fin de poder así contratar los servicios que via web ofrece y publica LA EMPRESA, como ser: 1) los Planes o Cuentas de Alojamiento y/o Hosting de Sitios Web, 2) Registros de Dominios 3) los servicios afines que un futuro se ofrezcan y publiquen en la web gx-estudio.com para los visitantes que sean CLIENTES REGISTRADOS. No existen datos personales requeridos mediante formulario web en gx-estudio.com que sean OPTATIVOS. Todos los datos personales que se solicitan y recopilan para poder ser CLIENTES REGISTRADOS son obligatorios suministrarlos por el VISITANTE, y quedan almacenado y/o guardados y/o registrado en la "BASES DE DATOS de CLIENTES REGISTRADOS de Gx-Estudio.com" alojada en los SERVIDORES DE INTERNET que posee LA EMPRESA, mientras duren los servicios contratados por el CLIENTE REGISTRADO.</p>

            <h4>- LA CALIDAD DE LOS DATOS ingresados por el VISITANTE, para ser CLIENTE REGISTRADO:</h4>
            <p>Se obligan legalmente a respetar, tanto el VISITANTE que se registra como CLIENTE REGISTRADO y LA EMPRESA, para que esta última pueda brindar sus servicios ofrecidos y publicados en el sitio Gx-Estudio.com, lo que establece el Art.4 LEY 25326 , que a continuación se transcribe el texto legal :"Los datos personales que se recojan a los efectos de su tratamiento deben ser ciertos, adecuados, pertinentes y no excesivos en relación al ámbito y finalidad para los que se hubieren obtenido. La recolección de datos no puede hacerse por medios desleales, fraudulentos o en forma contraria a las disposiciones de la presente ley. Los datos objeto de tratamiento no pueden ser utilizados para finalidades distintas o incompatibles con aquellas que motivaron su obtención. Los datos deben ser exactos y actualizarse en el caso de que ello fuere necesario. Los datos total o parcialmente inexactos, o que sean incompletos, deben ser sustituidos, o en su caso completados por el responsable del archivo o base de datos cuando se tenga conocimiento de la inexactitud o carácter incompleto de la información de que se trate, sin perjuicio de los derechos del titular establecidos en el artículo 16 de la presente ley. Los datos deben ser almacenados de modo que permitan el ejercicio del derecho de acceso de su titular. Los datos deben ser destruidos cuando hayan dejado de ser necesarios o pertinentes a los fines para los cuales hubiesen sido recolectados."</p>

            <h4>- CONSENTIMIENTO DE LA AUTOMATIZACIÓN E INCORPORACIÓN DE DATOS PERSONALES A LA "BASES DE DATOS de CLIENTES REGISTRADOS de Gx-Estudio.com" que se registraron vía FORMULARIO WEB:</h4>
            <p>Los datos personales requeridos para ser registrado en Gx-Estudio.com como CLIENTE REGISTRADO desde el formulario web respectivo, serán objeto de tratamiento automatizado e incorporados dichos datos a los correspondientes registros automatizados de datos de carácter personal de LA EMPRESA, que se denominará bajo el nombre "BASES DE DATOS de CLIENTES REGISTRADOS de Gx-Estudio.com"será la RESPOSANBLE de dicha BASE DE DATOS. Con este objeto, LA EMPRESA proporcionará a los CLIENTES REGISTRADOS los recursos técnicos adecuados para que, con carácter previo, puedan acceder a este aviso sobre la Política de Privacidad (Protección de Datos) desde la U.R.L. http://gx-estudio.com/politica-de-privacidad y que el VISITANTE presta su consentimiento para ser CLIENTE REGISTRADO, al completar dicho formulario web desde Gx-Estudio.com con los datos obligatorios siguientes: APELLIDO Y NOMBRE, DOMICILIO, TELÉFONO, E-MAIL, LOCALIDAD (CP, CIUDAD, PROVINCIA), FECHA DE NACIMIENTO, PASSWORD Y REPETECIÓN DE PASSWORD, a fin de que LA EMPRESA proceda al tratamiento automatizado de dichos datos personales y pueda acceder así el CLIENTE REGISTRADO a la sección restringida de Gx-Estudio.com para poder contratar los servicios provisto por LA EMPRESA, conforme lo establece el Art.5 LEY 25326." El tratamiento de datos personales es ilícito cuando el titular no hubiere prestado su consentimiento libre, expreso e informado, el que deberá constar por escrito, o por otro medio que permita se le equipare, de acuerdo a las circunstancias."</p>

            <h4>- FIN DE RECOLECCIÓN Y TRATAMIENTO DE LA "BASES DE DATOS de CLIENTES REGISTRADOS de Gx-Estudio.com"</h4>
            <p>La recolección y tratamiento automatizado de los datos personales como CLIENTE REGISTRADO que se registran en la "BASES DE DATOS de CLIENTES REGISTRADOS de Gx-Estudio.com"tiene como finalidad siguiente:</p>
            <p>FINALIDAD PRIMARIA: es la individualización del sujeto cliente y la gestión técnica, administrativa y prestación de los servicio ofrecidos por LA EMPRESA que fueran contratados por el CLIENTE REGISTRADO vía web desde la sección restringida de Gx-Estudio.com como ser: 1) la Alta y/o Baja de los Planes o Cuentas de Alojamiento y/o Hosting de Sitios Web, 2) Registros de Dominios.com 3) los servicios afines que un futuro se ofrezcan y publiquen en la web Gx-Estudio.com para los visitantes que sean CLIENTES REGISTRADOS.</p>
            <p>FINALIDAD SECUNDARIA: el envío de email por parte de LA EMPRESA al correo electrónico que fuera suministrado por el CLIENTE REGISTRADO, sobre información comercial y técnica requerida de los servicios contratados vía web por el CLIENTE REGISTRADO con LA EMPRESA incluye igualmente el envío de email de formularios de encuestas y cuestionarios, que el usuario no queda obligado a contestar. LA EMPRESA da la posibilidad al CLIENTE REGISTRADO de optar por dejar de recibir información por email, que era la segunda finalidad de la base de datos. Este trámite podrá efectuarlo enviando un mensaje por e-mail a info@gx-estudio.com.</p>
            <p>En el caso en que el CLIENTE REGISTRADO no contrate vía web desde la sección restringida de Gx-Estudio.com como CLIENTE REGISTRADO ningún servicio provisto por LA EMPRESA y/ono renueve vía web desde la sección restringida de Gx-Estudio.com como CLIENTE REGISTRADO los servicios contratados oportunamente provistos por LA EMPRESA, serán borrados dichos datos personales como CLIENTE REGISTRADO de la BASE DE DATOS DE CLIENTES REGISTRADOS de Gx-Estudio.com, conforme así lo establece el Art.4 LEY 25326 ultimo párrafo "Los datos deben ser destruidos cuando hayan dejado de ser necesarios o pertinentes a los fines para los cuales hubiesen sido recolectados."</p>

            <h4>- NO REVELACIÓN Y CESIÓN A TERCEROS DE LOS DATOS PERSONALES REGISTRADOS EN LA BASE DE DATOS DE CLIENTE REGISTRADOS DE Gx-Estudio.com:</h4>
            <p>LA EMPRESA se compromete a no revelar ni ceder a terceros la información guardada y/o registrada en la BASE DE DATOS sobre los DATOS PERSONALES de los CLIENTES REGISTRADOS de Gx-Estudio.com, salvo orden judicial pertinente.</p>
            <p>Se hace la salvedad que LA EMPRESA puede asimismo aceptar la CESIÓN de Datos Personales A TERCERO si se cumple con lo requerido por el Art.11 LEY 25326 "Los datos personales objeto de tratamiento sólo pueden ser cedidos para el cumplimiento de los fines directamente relacionados con el interés legítimo del cedente y del cesionario y con el previo consentimiento del titular de los datos, al que se le debe informar sobre la finalidad de la cesión e identificar al cesionario o los elementos que permitan hacerlo. El consentimiento para la cesión es revocable."</p>

            <h4>- DEBER DE CONFIDENCIALIDAD:</h4>
            <p>Todos los empleados de LA EMPRESA, que tengan vinculación con el servicio están sujetos a un "Acuerdo de Confidencialidad" y no podrán utilizar, copiar o reproducir, revelar a terceros, ninguna información contenida en la"BASES DE DATOS de CLIENTES REGISTRADOS de Gx-Estudio.com", conforme lo establece así el Art.10 LEY 25326 " El responsable y las personas que intervengan en cualquier fase del tratamiento de datos personales están obligados al secreto profesional respecto de los mismos. Tal obligación subsistirá aun después de finalizada su relación con el titular del archivo de datos. El obligado podrá ser relevado del deber de secreto por resolución judicial y cuando medien razones fundadas relativas a la seguridad pública, la defensa nacional o la salud pública."</p>

            <h4>- SEGURIDAD DE LOS DATOS:</h4>
            <p>LA EMPRESA previene de manera lógica y en las medidas de sus posibilidades, sin que esto implique responsabilidad alguna para ella, los accesos no autorizados. Todas las transacciones se procesan en servidores que garantizan la protección de la información confidencial, conforme así lo establece el Art.9 LEY 25326 "El responsable o usuario del archivo de datos debe adoptar las medidas técnicas y organizativas que resulten necesarias para garantizar la seguridad y confidencialidad de los datos personales, de modo de evitar su adulteración, pérdida, consulta o tratamiento no autorizado, y que permitan detectar desviaciones, intencionales o no, de información, ya sea que los riesgos provengan de la acción humana o del medio técnico utilizado. Queda prohibido registrar datos personales en archivos, registros o bancos que no reúnan condiciones técnicas de integridad y seguridad."</p>
            <p>LA EMPRESA ha adoptado los niveles de seguridad de protección de los datos personales legalmente requeridos, y ha instalado todos los medios y medidas técnicas a su alcance para evitar la pérdida, mal uso, alteración, acceso no autorizado y robo de los datos personales facilitados. No obstante ello, el CLIENTE REGISTRADO debe ser consciente de que las medidas de seguridad en Internet no son inexpugnables como así también que no le corresponde ninguna responsabilidad extracontractual o contractual a LA EMPRESA por la filtración y/o distorsión y/o mal uso de los datos personales recolectados a los fines de registrar al CLIENTE REGISTRADO en Gx-Estudio.com.</p>
            <p>- DERECHO DE ACTUALIZACIÓN y/o MODIFICACIÓN y/o CANCELACIÓN y/o SUPRESIÓN DE DATOS PERSONALES:</p>
            <p>El CLIENTE REGISTRADO tiene reconocidos por LA EMPRESA, siempre dentro de un marco que no implique abusos, y podrán ejercitar, los derechos de acceso, rectificación, actualización, contactándose desde la web: Gx-Estudio.com a través del formulario de contacto en el Links- Sección Restringida: Actualizar/Modificar mis datos personales.</p>
            <p>En el supuesto caso de cancelación y/o supresión de datos personales, a solicitud del CLIENTE REGISTRADO, LA EMPRESA permitirá suprimir o cancelar dicha información registrada en la " BASE DE DATOS PERSONALES de los CLIENTES REGISTRADOS de Gx-Estudio.com", si se envía un e-mail a: info@gx-estudio.com, conforme lo establece el ART. 16 LEY 25326. (Derecho de rectificación, actualización o supresión) "Toda persona tiene derecho a que sean rectificados, actualizados y, cuando corresponda, suprimidos o sometidos a confidencialidad los datos personales de los que sea titular, que estén incluidos en un banco de datos. El responsable o usuario del banco de datos, debe proceder a la rectificación, supresión o actualización de los datos personales del afectado, realizando las operaciones necesarias a tal fin en el plazo máximo de cinco días hábiles de recibido el reclamo del titular de los datos o advertido el error o falsedad. El incumplimiento de esta obligación dentro del término acordado en el inciso precedente, habilitará al interesado a promover sin más la acción de protección de los datos personales o de hábeas data prevista en la presente ley. En el supuesto de cesión, o transferencia de datos, el responsable o usuario del banco de datos debe notificar la rectificación o supresión al cesionario dentro del quinto día hábil de efectuado el tratamiento del dato. La supresión no procede cuando pudiese causar perjuicios a derechos o intereses legítimos de terceros, o cuando existiera una obligación legal de conservar los datos. Durante el proceso de verificación y rectificación del error o falsedad de la información que se trate, el responsable o usuario del banco de datos deberá o bien bloquear el archivo, o consignar al proveer información relativa al mismo la circunstancia de que se encuentra sometida a revisión. Los datos personales deben ser conservados durante los plazos previstos en las disposiciones aplicables o en su caso, en las contractuales entre el responsable o usuario del banco de datos y el titular de los datos."</p>

            <h4>- SUSCRIPCION / DESUSCRIPCION NEWSLETTERS:</h4>
            <p>En caso de NO querer recibir correos publicitarios de nuestra empresa, por favor solicítelo re-enviando una copia del email recibido a: <a href="mailto:abuse@gx-estudio.com" target="_blank">abuse@gx-estudio.com</a> e indicando allí mismo su deseo de ser removido de la lista. Así mismo, puedes desuscribirte en forma automática a través del link de desuscripción que figura al pie de cada pieza de email.</p>

            <h4>- USO DE COOKIES:</h4>
            <p>LA EMPRESA utiliza cookies cuando un Usuario navega por los sitios y páginas web del Sitio. Las cookies se asocian únicamente con un Usuario anónimo y su computadora, y no proporcionan por sí el nombre y apellidos del usuario. Las cookies de LA EMPRESA no pueden leer datos de su disco duro ni leer los archivos cookies creados por otros proveedores. El Usuario tiene la posibilidad de configurar su navegador para ser avisado en pantalla de la recepción de cookies y para impedir la instalación de cookies en su disco duro. Recomendamos consultar las instrucciones y manuales de su navegador para ampliar ésta información. Para utilizar ciertas secciones del Sitio, resulta necesario que el usuario tenga configurado su navegador para posibilitar la instalación de cookies; sin perjuicio de que se le requiera al usuario autenticarse por cada servicio del sitio que lo requiera a fin de poder utilizarlo.</p>
            <p>- ACEPTACIÓN DE LA PRESENTE POLÍTICA. MODIFICACIÓN.</p>
            <p>La utilización por el CLIENTRE REGISTRADO del Sitio Gx-Estudio.com, en cualquiera de sus secciones, importa la aceptación de nuestra Política de Privacidad (Protección de Datos Personales). Si el CLIENTE REGISTRADO no está de acuerdo con esta política, por favor no utilice el sitio. De igual forma, si el CLIENTE REGISTRADO continua haciendo uso del Sitio después de que hayamos introducido cualquier modificación a esta política, ello importará su aceptación de esas modificaciones, desde la publicación en el pertinente link: http://gx-estudio.com/politica-de-privacidad</p>
            <p>LA EMPRESA se reserva el derecho a modificar la presente política para adaptarla a novedades legislativas o jurisprudenciales así como a prácticas de la industria. En dichos supuestos, LA EMPRESA anunciará en el Sitio los cambios introducidos los que tendrán vigencia desde el mismo momento de su publicación on-line, por lo que se recomienda a los usuarios leer las presentes condiciones cada vez que accedan al Sitio Gx-Estudio.com.</p>

            <h4>- JURISDICCIÓN APLICABLE:</h4>
            <p>Para cualquier conflicto las partes CLIENTE REGISTRADO Y LA EMPRESA aceptan expresamente someter toda cuestión que se suscitare a la Jurisdicción en el Tribunal Ordinarios Provinciales de la ciudad de Buenos Aires, Provincia de Buenos Aires, renunciando a cualquier otro fuero o jurisdicción que pudiere corresponder.</p>
            <p>Fecha de publicación de esta Política: Buenos Aires 24 de Julio del 2013.</p>
            <p>Advertencia legal: el RESPONSABLE y TITULAR DE LA "BASE DE DATOS de DATOS PERSONALES de los CLIENTES REGISTRADOS de Gx-Estudio.com" es:</p>
            <p>GX-ESTUDIO.COM, Provincia de Buenos Aires, República Argentina. Email: info@gx-estudio.com Tel.(11) 5436-1442</p>

        </div><!--/row-fluid-->
    </div>
{% endblock %}

