<!-- Call to Action -->
<div class="call-action-v1 bg-color-light margin-bottom-40">
    <div class="container">
        <div class="call-action-v1-box">
            <div class="call-action-v1-in">
                <h3>Contacte con nosotros en <strong class="color-darker">info@gx-estudio.com</strong> o llámenos al <strong class="color-darker">+54 (11) 5436-1442</strong></h3>
                <p>Gx Estudio, es la empresa de tecnología creativa que proporciona servicios digitales en internet y estamos para ayudar a nuestros clientes a construir un negocio exitoso en la web.</p>
            </div>
            <div class="call-action-v1-in inner-btn page-scroll">
                <a href="{{ path('contacto') }}" class="btn-u btn-u-lg btn-brd btn-brd-width-2 btn-brd-hover btn-u-dark btn-u-block">CONTÁCTENOS</a>
            </div>
        </div>
    </div>
</div>
<!-- End Call to Action -->